<h1>Welcome to Bookmarks!</h1>

<ul>
<% @list.each do |bookmark| %>
  <li>
    <a href='<%= bookmark.url %>'><%= bookmark.title%></a>
  </li>
  <%end%>
</ul>
<br>
<form action='/' method='GET'>
  <input type="submit" value="Home">
</form>
