<h1>Welcome to Bookmarks!</h1>

<ul>
<% @list.each do |bookmark| %>
  <li><a href=<%= bookmark[0] %>><%= bookmark[1]%></a></li>
  <%end%>
</ul>

<form action='/' method='GET'>
  <input type="submit" value="Home">
</form>
