<%="Bookmark Manager"%>

<form action='/bookmarks' method='GET'>
  <input type="submit" value="Bookmarks!">
</form>

<form action='/bookmarks/add' method='GET'>
  <input type="submit" value="Add bookmark">
</form>

<form action='/bookmarks/delete' method='GET'>
  <input type="submit" value="Delete bookmark">
</form>