<%="Bookmark Manager"%>

<form action='/bookmarks' method='GET'>
  <input type="submit" value="Bookmarks!">
</form>

<form action='/add' method='GET'>
  <input type="submit" value="Add bookmark">
</form>
